<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your account</title>
    <link rel="icon" type="image/x-icon" href="https://svgsilh.com/svg/2027080.svg">
    <link rel="stylesheet" href="../static/account.css">
</head>
<body>
<div class="nav-bar">
    {% if session.email %}
    <div class="nav-button">
        <a href="/logout">
            Logout
        </a>
    </div>
    <div class="nav-button">
        <a href="/account">
            Account
        </a>
    </div>
    {% else %}
    <div class="nav-button">
        <a href="/signup">
            Create account
        </a>
    </div>
    <div class="nav-button">
        <a href="/login">
            Log in
        </a>
    </div>
    {% endif %}
    <a href="/search">
        <img src="https://img.icons8.com/ios_filled/512/FFFFFF/search.png" alt="Search" class="search-icon">
    </a>
    <a href="/">
        <img src="https://img.icons8.com/m_sharp/512/FFFFFF/home.png" alt="Home" class="home-icon">
    </a>
</div>
<h1>
    {{name}}'s bookings:
</h1>
{% for booking in bookings %}
<div class="booking-box">
    <h3>{{booking[0]}} - {{booking[2]}}</h3>
    <div class="booking-box-content">
        <div class="booking-box-text">
            <h4>Screen {{booking[3]}}</h4>
            <h4>Your seats - {{booking[1]}}</h4>
            <h4>£{{booking[5]}}</h4>
        </div>
        <div class="booking-box-buttons">
            <form action="/edit" method="post">
                <button value="{{booking[4]}}" name="booking_id">Edit booking</button>
            </form>
            <a href="#confirm-{{booking[4]}}">
                <button>Delete booking</button>
            </a>
        </div>
    </div>
    <div id="confirm-{{booking[4]}}" class="popup">
        <div class="popup-content">
            <h2>Confirm</h2>
            <p>Are you sure you want to delete this booking?</p>
            <div class="popup-buttons">
                <a href="#">
                    <button>No</button>
                </a>
                <form action="/delete" method="post">
                    <button value="{{booking[4]}}" name="booking_id">Yes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</body>
</html>