<html lang="en">
<head>
  <title>Sign in</title>
  <link rel="icon" type="image/x-icon" href="https://svgsilh.com/svg/2027080.svg">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
{% include "_banner.html" %}
<div class="login-box">
  <div class="button">
  <a href="/signup">
    New here? Create an account here
  </a>
</div>

{%if message%}
<p style="color: red">
  {{message}}
</p>
{% endif %}
<form action="/login/attempt" method="post">
  <p>
    Email: <br />
    <label>
      <input type="text" name="email" />
    </label>
  </p>
  <p>
    Password: <br />
    <label>
      <input type="password" name="password" />
    </label>
  </p>
  <p><br /></p>
  <input type="submit" value="Sign in">
  <input type="hidden" value="{{session.csrf_token}}" name="csrf_token"/>
</form>
</div>
</body>
</html>
