<html lang="en">
<head>
  <title>Sign in</title>
  <link rel="icon" type="image/x-icon" href="https://svgsilh.com/svg/2027080.svg">
  <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<div class="nav-bar">
  <div class="nav-button">
    <a href="/signup">
      Create account
    </a>
  </div>
  <div class="nav-button">
    <a href="/login">
      Log in
    </a>
  </div>
  <a href="/search">
    <img src="https://img.icons8.com/ios_filled/512/FFFFFF/search.png" alt="Search" class="search-icon">
  </a>
  <a href="/">
    <img src="https://img.icons8.com/m_sharp/512/FFFFFF/home.png" alt="Home" class="home-icon">
  </a>
</div>
<div class="login-box">
  <div class="button">
  <a href="/signup">
    New here? Create an account here
  </a>
</div>

{%if message%}
<p style="color: red">
  {{message}}
</p>
{% endif %}
<form action="/login/attempt" method="post">
  <p>
    Email: <br />
    <label>
      <input type="text" name="email" />
    </label>
  </p>
  <p>
    Password: <br />
    <label>
      <input type="password" name="password" />
    </label>
  </p>
  <p><br /></p>
  <input type="submit" value="Sign in">
</form>
</div>
</body>
</html>
