<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="icon" type="image/x-icon" href="https://svgsilh.com/svg/2027080.svg">
    <link rel="stylesheet" href="../static/search.css">
</head>
<body>
<div class="nav-bar">
    {% if session.email %}
    <div class="nav-button">
        <a href="/logout">
            Logout
        </a>
    </div>
    <div class="nav-button">
        <a href="/account">
            Account
        </a>
    </div>
    {% else %}
    <div class="nav-button">
        <a href="/signup">
            Create account
        </a>
    </div>
    <div class="nav-button">
        <a href="/login">
            Log in
        </a>
    </div>
    {% endif %}
    <a href="/search">
        <img src="https://img.icons8.com/ios_filled/512/FFFFFF/search.png" alt="Search" class="search-icon">
    </a>
    <a href="/">
        <img src="https://img.icons8.com/m_sharp/512/FFFFFF/home.png" alt="Home" class="home-icon">
    </a>
</div>
<form action="/search" method="post">
    <div class="form-row">
        <label for="film">Film:</label>
        <select name="film" id="film">
            <option>All films</option>
            {% for film in films %}
            <option>{{film[0]}}</option>
            {% endfor %}
        </select>

        <label for="day">Days:</label>
        <select name="day" id="day">
            <option>All days</option>
            {% for day in days %}
            <option>{{day[0]}}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" value="Search">
</form>

{% if search_type != 0 %}
<h1>Your search for {{search[0]}} on {{search[1]}}</h1>
{% endif %}
{% if search_type == 1 %}
<div class="film-box">
    <div class="showings-container">
        {% for showing in showings %}
        <div class="showing-button">
            <a href="/showing/{{showing[3]}}">
                <h4>{{showing[1][-5:]}} - Screen {{showing[2]}}</h4>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% elif search_type == 2 %}
{% for film in films %}
<div class="film-box">
    <a href="/{{film[1]}}">
        <h2>{{film[0]}}</h2>
    </a>
    <div class="showings-container">
        {% for showing in showings %}
        {% if film[1] == showing[4] %}
        <div class="showing-button">
            <a href="/showing/{{showing[3]}}">
                <h4>{{showing[1][-5:]}} - Screen {{showing[2]}}</h4>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{% elif search_type == 3 %}
{% for day in days %}
<div class="film-box">
    <h2>{{day[0]}}</h2>
    <div class="showings-container">
        {% for showing in showings %}
        {% if day[0] == showing[1][:10] %}
        <div class="showing-button">
            <a href="/showing/{{showing[3]}}">
                <h4>{{showing[1][-5:]}} - Screen {{showing[2]}}</h4>
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{% elif search_type == 4 %}
{% for film in films %}
<div class="film-box">
    <a href="/{{film[1]}}">
        <h2>{{film[0]}}</h2>
    </a>
    {% for day in days %}
    <div class="day-box">
        <h3>{{day[0]}}</h3>
        <div class="showings-container">
            {% for showing in showings %}
            {% if showing[4] == film[1] and showing[1][:10] == day[0] %}
            <div class="showing-button">
                <a href="showing/{{showing[3]}}">
                        <h4>{{showing[1][-5:]}} - Screen {{showing[2]}}</h4>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endif %}