<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{details[0][0]}} - {{details[0][1]}}</title>
    <link rel="icon" type="image/x-icon" href="https://svgsilh.com/svg/2027080.svg">
    <link rel="stylesheet" href="../static/showing.css">
</head>
<body>
<div class="nav-bar">
    {% if session.email %}
    <div class="nav-button">
        <a href="/logout">
            Logout
        </a>
    </div>
    <div class="nav-button">
        <a href="/account">
            Account
        </a>
    </div>
    {% else %}
    <div class="nav-button">
        <a href="/signup">
            Create account
        </a>
    </div>
    <div class="nav-button">
        <a href="/login">
            Log in
        </a>
    </div>
    {% endif %}
    <a href="/search">
        <img src="https://img.icons8.com/ios_filled/512/FFFFFF/search.png" alt="Search" class="search-icon">
    </a>
    <a href="/">
        <img src="https://img.icons8.com/m_sharp/512/FFFFFF/home.png" alt="Home" class="home-icon">
    </a>
</div>
<h1>Seat Selection for {{details[0][0]}} on {{details[0][1]}}</h1>
<div class="screen">Screen</div>
<form method="POST">
    <div class="seat-grid">
        <div class="seat-label"></div>
        {% for col in range(1, 16) %}
        <div class="seat-label">{{ col }}</div>
        {% endfor %}
        {% for row in "ABCDEFGHIJ" %}
        <div class="row-label">{{ row }}</div>
        {% for col in range(1, 16) %}
        {% set seatId = seats|selectattr("rownum", "eq", row)|selectattr("seatnum", "eq", col)|map(attribute="seatid")|first %}
        {% if seatId in booked_seat_ids %}
        <div class="seat booked">X</div>
        {% else %}
        <label class="seat available">
            <input type="checkbox" name="seats" value="{{ seatId }}">
        </label>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <div class="other-info">
            <label for="other-info">Anything else we should know?
                <input type="text" name="other-info" id="other-info" placeholder="E.g. disabilities, pre-order snacks, etc">
            </label>
    </div>
    <div class="confirm-section">
        <p id="error">{{ error }}</p>
        <button type="submit">Confirm Booking</button>
    </div>
    <input type="hidden" value="{{session.csrf_token}}" name="csrf_token"/>
</form>
</body>
</html>
