<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{details[0][0]}} - {{details[0][1]}}</title>
    <link rel="icon" type="image/x-icon" href="https://svgsilh.com/svg/2027080.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='showing.css') }}">
    <script src="{{ url_for('static', filename='showing.js') }}" defer></script>
</head>
<body>
{% include "_banner.html" %}
<h1>Seat Selection for {{details[0][0]}} on {{details[0][1]}}</h1>
<form method="POST">
    {% include "_seat_grid.html" %}
    <div class="other-info">
            <label for="other-info">Anything else we should know?
                <input type="text" name="other-info" id="other-info" placeholder="E.g. disabilities, pre-order snacks, etc">
            </label>
    </div>
    <div class="confirm-section">
        <p id="error">{{ error }}</p>
        <button type="submit">Confirm Booking</button>
    </div>
    <input type="hidden" value="{{session.csrf_token}}" name="csrf_token"/>
</form>
</body>
</html>
