<html lang="en">

<head>
    <title>Create an account</title>
</head>

<body>
<form action="/create" method="post">
    <p>
        Full name: <br />
        <input type="text" name="username" />
    </p>
    <p>
        Email: <br />
        <input type="text" name="email" />
    </p>
    <p>
        Phone number: <br />
        <input type="text" name="phonenumber" />
    </p>
    <p>
    Password: <br />
    <input type="password" name="password1" />
</p>
    <p>
        Re-enter password: <br />
        <input type="password" name="password2" />
    </p>

    <input type="submit" value="Create account" />
</form>
</body>

</html>
